name: Build Fedora bootc ISO
on:
  workflow_dispatch:

jobs:
  fedora-bootc-iso-image-build:
    name: Build latest Fedora bootc ISO image
    runs-on: ubuntu-latest  
    env:
      DEST_REGISTRY_HOST: "ghcr.io"
      CONFIG-FILE: ./iso-config.toml

    permissions:
      contents: read
      packages: write
    
    steps:
      - name: Set Lowercase for GitHub Actor
        run: |
          echo "GITHUB_ACTOR_LOWER=${GITHUB_ACTOR,,}" >> $GITHUB_ENV
        env:
          GITHUB_ACTOR: ${{ github.actor }}

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: redhat-actions/podman-login@v1
        with:
          registry: ${{ env.DEST_REGISTRY_HOST }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build ISO image
        id: build-iso
        uses: osbuild/bootc-image-builder-action@main
        with:
          config-file: ${{ env.CONFIG-FILE }}
          additional-args: "--rootfs btrfs"
          image: "${{ env.DEST_REGISTRY_HOST }}/${{ env.GITHUB_ACTOR_LOWER }}/${{ github.event.repository.name }}:latest"
          types: |
            iso

      - name: Upload ISO artifact
        uses: actions/upload-artifact@v4
        with:
          name: bootc-iso
          path: "${{ steps.build-iso.outputs.output-directory }}"